.font-gantari {
    font-family: 'Gantari', sans-serif;
}
.font-playball {
    font-family: 'Playball', cursive;
}
.bg-first {
    background-color: #273036;
}

.border-first {
    border-block-color: #273036;
}

.font-edu {
    font-family: 'Edu SA Beginner', cursive;
}